!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
      %title Double Seven Limited
      %link{:href => "/stylesheets/front.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    .outer_wrapper
      .wrapper
        .header
          %img.logo{:alt => "Double Seven Limited", :height => "54", :src => "/images/logo.png?1264458295", :width => "630"}
        .stripe
          %img.main{:alt => "Pump", :height => "333", :src => "/images/pump.png?1264458295", :width => "289"}
          .text
            %p.headline A design facility for innovative fluid power mechanisms and devices
            %a.primary{:href => "mailto:info@doublesevendesign.com"} Contact us
        .details
          %p We are specialists in the design and application of reciprocating devices, both hydraulic and pneumatic, with air drives and electric drives.  Our experience includes the design and application of hydraulic pumps and power units for the industrial and mobile markets. Successful patents cover devices in the automotive and rock breaking markets as well as the oil and gas industry. On site discussions, CAD manufacturing and assembly drawings, cost proposals, bills of material and commissioning services are available. Mechanisms and pumps have been designed and built especially for water, oils, chemicals and refrigerants. New product designs available for lease, licence or purchase. Our previous work ranges in size from fractional horsepower 10,000 psi pumps up to half ton attachments for rock breaking equipment.
        .contact
          %p.address
            Double Seven Ltd
            %br
            5 Mendip Way
            %br
            Luton
            %br
            LU3 3JJ
          %p.email
            %a{:href => "mailto:info@doublesevendesign.com"} info@doublesevendesign.com
          %p.telephone
            %a{:href => "tel:07504151255"} 0750 415 1255
